
.carousel-item img {
    height: 400px;
    object-fit: cover; 
}


.vehiculo-detalle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.detalle-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.imagen-vehiculo img {
    max-width: 600px;
    max-height: 400px;
    width: auto;
    height: auto;
}

.formulario-reserva {
    flex-grow: 1;
    margin-left: 20px;
}

.form-control {
    margin-bottom: 10px;
}

.btn-primary {
    display: block;
    width: 100%;
    margin-top: 20px; /* Ajusta según necesites */
}


.navbar-custom {
    background-color: #0099cc; /* Color de fondo */
}

    .navbar-custom .navbar-nav .nav-link {
        color: #050f2c; /* Color de las letras */
    }

    .navbar-custom .navbar-brand {
        color: #ff9933; /* Color de las letras para el brand */
    }

    .navbar-custom .nav-link {
        font-weight: bold;
    }
body {
    background-color: #d0d2d3;
}

.table th {
    background-color: #ff9933;
    color: #0099cc;
    font-weight: bold;
    text-align: center;
    
}

.table tr:nth-child(odd) {
    background-color: #d0d2d3;
}

.table tr:nth-child(even) {
    background-color: #ffffff;
}

.table {
    border-collapse: separate;
    border-spacing: 0;
}

    .table tr {
        border-bottom: 1px solid #000000;
    }


.contacto-container {
    margin: 20px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

.contacto-info p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #333;
}